@media (max-width:480px) {
    section#section-value div.content {
        margin: 20px 0 20px 0;
    }
    section#section-value div.content .info {
        margin: 0px;
    }
    section#section-value div.content .row img.image {
        width: 100%;
        margin-bottom: 10px;
    }
    /*our-experts*/
    .our-experts-content .item img {
        width: 100%;
    }
    .our-experts-content .img {
        text-align: right;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .our-experts-content .item h3{
        text-align: center;
    }
    .our-experts-content .carousel-indicators {
        margin-bottom: -40px;
    }
    .our-experts-content {
        padding: 50px 0px;
        background: #F2F2F2;
    }
    .banner-content {
        position: absolute;
        top: 41%;
        left: 29%;
        background: unset;
        color: #ffffff;
        width: 44%;
        padding: 10px 15px;
    }
    .banner-content p:first-child {
       display: none;
    }
    .why-us-value-text {
        margin: 0px;
        color: #73726C;
        border: 1px dotted;
        padding: 15px;
        margin-bottom: 20px;
    }
    .language {
        margin-top: 0px;
        padding-left: 15px;
    }
    div#bs-example-navbar-collapse-1 {
         margin-top: 0px;
    }
    .item-left img {
        margin-bottom: 10px;
         margin-left: 0px;
        width: 100%;
    }
    .team-content .item-right {
         margin-left: 0px;
    }
    .readMore {
        text-align: center;
        margin-top: 10px;
    }
    .post {
        width: 100%;
        margin-right: 0px;
    }
    .news-content {
        margin-top: 30px;
        margin-left: 0px;
    }
    article.article {
        margin:10px auto;
        overflow: hidden;
        width: 100%;
    }
    article.article img {
        width: 100%;
    }

}

@media (min-width:768px) and (max-width: 1024px) {}

@media (min-width:1024px) {}